<div class="form-radio{{#if field-class}} {{field-class}}{{/if}}">
  <label class="form-radio__label" {{#if field-id}}for="{{field-id}}"{{/if}}>
    <input class="form-radio__input"
           type="radio"
           name="{{name}}"
      {{#if field-id}} id="{{field-id}}"{{/if}}
      {{#if aria-label}} aria-label="{{aria-label}}"{{/if}}
      {{#if checked}} checked="checked"{{/if}}>
    <span class="form-radio__icon"></span> {{label}}</label>
</div>