<div class="form-field{{#if field-class}} {{field-class}}{{/if}}">
  <label {{#if field-id}}for="{{field-id}}"{{/if}} class="form-field__label {{label-class}}">{{label}}</label>
  <select class="js-dropdown-box"
    {{#if field-id}} id="{{field-id}}"{{/if}}
    {{#if field-name}} name="{{field-name}}"{{/if}}
    {{#if aria-label}} aria-label="{{aria-label}}"{{/if}}
    {{#if placeholder}} data-placeholder="{{placeholder}}"{{/if}}>
    {{# times 5}}
      <option value="{{this}}">Example text {{this}}</option>
    {{/times}}
  </select>
</div>