<div class="form-field{{#if field-class}} {{field-class}}{{/if}}">
  {{#if label }}
    <label {{#if field-id}}for="{{field-id}}"{{/if}}
           class="form-field__label{{#if field-label-class}} {{field-label-mode}}{{/if}}">{{field-label}}</label>
  {{/if}}
  <textarea class="form-textarea{{#if textarea-class}} {{textarea-class}}{{/if}}"
    {{#if field-id}} id="{{field-id}}"{{/if}}
    {{#if field-name}} name="{{field-name}}"{{/if}}
    {{#if placeholder}} placeholder="{{placeholder}}" {{/if}}
    {{#if aria-label}} aria-label="{{aria-label}}"{{/if}}
    {{#if disabled}} disabled aria-disabled="true"{{/if}}></textarea>
  {{#if error}}
    <span class="form-field__message">Error message</span>
  {{/if}}
</div>